@import 'src/assets/scss/common';

.summary {
  &-address {
    @include borderRadius(4px);
    @include relative;
    margin: 0 0 3rem;
    padding: 2.4rem 3rem;
    background-color: $white;
    box-shadow: 0 0.1rem 0.1rem 0 rgba($black, 0.1);

    &::before {
      @include absolute(0, 0, null, 0);
      content: '';
      height: 3px;
      background-position-x: -30px;
      background-size: 116px 3px;
      background-image: repeating-linear-gradient(
        45deg,
        #6fa6d6,
        #6fa6d6 33px,
        transparent 0,
        transparent 41px,
        #f18d9b 0,
        #f18d9b 74px,
        transparent 0,
        transparent 82px
      );
    }

    &__title {
      margin-bottom: 2rem;
      font-size: 2rem;
      color: $primary-color;

      svg {
        fill: $primary-color;
        margin-right: 0.6rem;
        font-size: 1.8rem;
      }
    }

    &__detail {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      span {
        margin-right: 2rem;

        &:first-child {
          font-weight: 700;
        }
      }
    }

    &__link {
      color: $blue;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  &-footer {
    @include borderRadius(3px);
    margin-bottom: 8rem;
    padding: 2rem;
    background-color: $white;
    box-shadow: 0 0.1rem 0.1rem 0 rgba($black, 0.1);

    &__fee {
      display: flex;
      justify-content: flex-end;
      border-bottom: 1px solid rgba($black, 0.1);
    }

    &__fee-wrap {
      width: 30rem;
    }

    &__fee-group {
      margin-bottom: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__fee-title {
      color: $light-text-color;
    }

    &__fee-total-payment {
      font-size: 2.4rem;
      margin-left: 0.5rem;
      color: #d0011b;
    }

    &__bottom {
      margin-top: 1.4rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__policy {
      color: $light-text-color;
    }

    &__policy-link {
      @extend .summary-address__link;
      margin-left: 0.6rem;
    }
  }
}
