$background-color: #f5f5f5;
$light-text-color: #767676;
$text-color: #333;
$white: #fff;
$black: #000;
$primary-color: #d0011b;
$primary-color-light: #ff0000;

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf')
    format('woff2 supports variations')
    url('../fonts/Inter-VariableFont_slnt\,wght.ttf') format('woff2-variations');
  font-weight: 100 900;
}

$primary-font: 'Inter', sans-serif;

$header-height: 120px;
$navbar-height: 34px;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
