@import 'src/assets/scss/common';

.auth-header {
  display: flex;
  align-items: center;
  height: 8.4rem;
  background-color: $white;
  box-shadow: 0 6px 6px rgba($black, 0.06);

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    @include relative;
    bottom: 0.6rem;
    &-img {
      img {
        height: 4.2rem;
        width: auto;
      }
    }
  }

  &__title {
    margin-left: 1.8rem;
    font-size: 2.4rem;
    color: $text-color;
  }

  &__help {
    text-decoration: none;
    color: $primary-color;
  }
}
