@import 'src/assets/scss/common';

.delivery {
  &-form {
    &__main {
      @include borderRadius(4px);
      @include relative;
      margin: 0 0 3rem;
      padding: 2.4rem 3rem;
      background-color: $white;
      box-shadow: 0 2px 10px rgba($black, 0.2);

      &::before {
        @include absolute(0, 0, null, 0);
        content: '';
        height: 3px;
        background-position-x: -30px;
        background-size: 116px 3px;
        background-image: repeating-linear-gradient(
          45deg,
          #6fa6d6,
          #6fa6d6 33px,
          transparent 0,
          transparent 41px,
          #f18d9b 0,
          #f18d9b 74px,
          transparent 0,
          transparent 82px
        );
      }
    }

    &__title {
      margin-bottom: 2rem;
      font-size: 2rem;
      color: $primary-color;
      text-transform: capitalize;
    }

    &__button-group {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 3rem;
      text-transform: uppercase;
    }

    &__button {
      margin-right: 1rem;
    }

    &__footer {
      text-align: center;

      span {
        color: $light-text-color;
      }
    }

    &__link {
      margin-left: 1rem;
      color: $primary-color;
    }
  }
}
