.button {
  @include borderRadius(2px);
  @include transition;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  background-color: $primary-color;
  color: $white;
  padding: 0.1rem 1.5rem;
  text-transform: capitalize;
  flex-shrink: 0;
  border: 1px solid $primary-color;
  user-select: none;

  &:hover {
    background-color: rgba($primary-color, 0.8);
  }

  &:disabled,
  &[disabled],
  &.disabled {
    border: 1px solid $text-color;
    background-color: rgba($light-text-color, 0.5);
    color: $text-color;
    pointer-events: none;
    cursor: default;
  }

  &--lg {
    padding: 2.4rem 1.5rem;
  }

  &--outline {
    background-color: $secondary-color;
    color: $primary-color;

    &:hover {
      background-color: rgba($secondary-color, 0.4);
    }
  }

  &--back {
    color: $text-color;
    background-color: $white;
    border-color: $break-line-color;

    &:hover {
      background-color: $background-color;
    }
  }
}
